In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('..\data\sentiment_analysis.csv')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Asus\AppData\Local\Temp\ipykernel_23940\3765686874.py:1: SyntaxWarning: invalid escape sequence '\d'
  data = pd.read_csv('..\data\sentiment_analysis.csv')

In [3]:
data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

# Data Preprocessing

In [ ]:
data.shape # Chack the shape of the dataset

(7920, 3)

In [9]:
data.duplicated().sum()  # Check for duplicates

np.int64(0)

In [ ]:
data.isnull().sum() # Check for missing values

id       0
label    0
tweet    0
dtype: int64

# Text Processing